body {
  background-color: rgb(214, 216, 216);
  text-align: center;
}

.ballon-container {
  display: grid;
  grid-template-columns: 10em 10em 10em 10em;
  margin: auto;
  width: 50%;
  grid-row-gap: 0.5em;
}

.ballon {
  margin: auto;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
}

span {
  display: none;
  color: #e7160f;
  font-size: 1.8em;
  height: 2.5em;
}

.no-ballons-message {
  display: none;
  font-size: 5em;
  color: #e7160f;
}

@media screen and (max-width: 768px) {
  .ballon-container {
    grid-template-columns: 8em 8em 8em 8em;
    width: 85%;
  }
}
  
@media screen and (max-width: 425px) {
  .ballon-container {
    grid-template-columns: 5em 5em 5em 5em;
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .ballon-container {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .ballon-container {
    grid-template-columns: 4.5em 4.5em 4.5em 4.5em;
  }
}
