body {
  background-color: rgb(214, 216, 216);
  text-align: center;
}

.ballon-container {
  display: grid;
  grid-template-columns: 10em 10em 10em 10em;
  margin: auto;
  width: 50%;
  grid-row-gap: 0.5em;
  margin-top: 2em;
}

.ballon {
  margin: auto;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
}

.pop-message {
  display: none;
  color: #e7160f;
  font-size: 1.8em;
  height: 2.5em;
}

.next-stage-message,
.retry-stage-message {
  display: none;
  font-size: 5em;
  color: #e7160f;
}

.count-down-timer {
  display: inline;
  border: 2px solid black;
  padding: 0.3em 1.2em;
  color: #e7160f;
  margin: auto;
  font-size: 1.5em;
}

.button {
  display: none;
  margin: auto;
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: pointer;
  border: unset;
}

.button:active {
  transform: translateY(4px);
  background-color: #d6cdcd;
}

.button:hover {
  text-decoration: underline;
  background-color: #d6cdcd;
  outline: 0.1em solid #000000;
}

@media screen and (max-width: 768px) {
  .ballon-container {
    grid-template-columns: 8em 8em 8em 8em;
    width: 85%;
  }
}
  
@media screen and (max-width: 425px) {
  .ballon-container {
    grid-template-columns: 5em 5em 5em 5em;
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .ballon-container {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .ballon-container {
    grid-template-columns: 4.5em 4.5em 4.5em 4.5em;
  }
}
