.home {
  .home-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .btn {
      width: 3.5em;
      height: 3.5em;
      background: #009c00;
      font-family: arial, serif;
    }

    svg {
      width: 2.3em;
      height: 2.3em;
    }
  }

  .name {
    font-family: "Raleway Light", monospace;
    font-size: 6em;
  }
}
