.bubble-wrap {
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2fb7f3;

  .header {
    padding: 1.5em 2em;
    font-size: 1.1em;
    font-family: Roboto, fantasy;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 4em;
    width: 100%;
    height: 80%;

    & > div {
      display: flex;
    }

    .bubble {
      width: 10em;
      height: 10em;
      border-radius: 50%;
      cursor: pointer;
      animation: sideWays 3s ease-in-out infinite alternate;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
      background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
    }

    .scalex1 {
      transform: scale(0.8);
    }

    .scalex2 {
      transform: scale(0.5);
    }

    .scalex3 {
      transform: scale(0.3);
    }

    .scalex4 {
      transform: scale(0.65);
    }

    @keyframes sideWays {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: 3.12em;
      }
    }
  }
}