.bubble-wrap {
  position: fixed;
  z-index: -1;
  background: #2fb7f3;

  .header {
    padding: 1.5em 2em;
    font-size: 1.1em;
    font-family: Roboto, fantasy;
  }

  .bubbles {
    grid-template-columns: repeat(3, 1fr);
    top: 4em;
    height: 80%;

    & > div {
      display: flex;
    }

    .bubble {
      width: 10em;
      height: 10em;
      border-radius: 50%;
      cursor: pointer;
      animation: sideWays 3s ease-in-out infinite alternate;
      box-shadow: 0 1.2em 1.8em rgba(0, 0, 0, 0.2), inset 0 0.6em 1.8em 0.3em rgba(255, 255, 255, 1);
      background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 50%);
    }

    .scaleX1 {
      transform: scale(0.8);
      animation: sideWays 2s ease-in-out infinite alternate;
    }

    .scaleX2 {
      transform: scale(0.5);
      animation: sideWays 4s ease-in-out infinite alternate;
    }

    .scaleX3 {
      transform: scale(0.3);
      animation: sideWays 1s ease-in-out infinite alternate;
    }

    @keyframes sideWays {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: 3.12em;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .header {
      text-align: center;
    }

    .bubbles {
      top: 6em;
      grid-template-columns: 1fr 1fr;

      .bubble {
        width: 7em;
        height: 7em;
        box-shadow: 0 1.2em 1.8em rgba(0, 0, 0, 0.2), inset 0 0 1em 0.1em rgba(255, 255, 255, 1);
      }

      .lg {
        display: none;
      }
    }
  }
}
