@mixin ringBg($url, $bgPosition) {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url($url) no-repeat $bgPosition;
}

.app {
  background: #080820FF;
  z-index: -1;
}

button:active {
  transform: translateY(0.2em);
}

.ring-bg-top {
  @include ringBg($url: './assets/ringBgTop.svg', $bgPosition: left top);
}

.ring-bg-bottom {
  @include ringBg($url: './assets/ringBgBottom.svg', $bgPosition: right bottom);
}

.bubble-bg-top {
  position: fixed;
  top: 1em;
  right: 0.5em;
  width: 8em;
  height: 8em;
  background: url('./assets/bubble.png') no-repeat 50% / contain;
}

.bubble-bg-bottom {
  position: fixed;
  left: 0.5em;
  bottom: 1em;
  width: 10em;
  height: 10em;
  background: url('./assets/bubble.png') no-repeat 50% / contain;
}

.dashboard,
.help {
  width: 50%;
  color: #000;
}

.overlay {
  background: #18181879;
}

@media only screen and (max-width: 650px) {
  .dashboard,
  .help {
    width: 100%;
    margin-left: 0;
  }
}
