.app {
  background: #080820FF;
  z-index: -1;
}

button:active {
  transform: translateY(0.2em);
}

.dashboard,
.help {
  width: 50%;
  color: #000;
}

.overlay {
  background: #18181879;
}

@media only screen and (max-width: 650px) {
  .dashboard,
  .help {
    width: 100%;
    margin-left: 0;
  }
}
