.wallpaper {
  background:url('assets/wallpaper.png') repeat-y center fixed;
  background-size: cover;
  z-index: -1;
}

.home-buttons {
  top: 70%;
  left: 50%;
}

.home-buttons button {
  background: #beff57;
  font-family: arial, serif;
}

button:active {
  transform: translateY(0.1em);
}

@media only screen and (max-width: 450px) {

}
